.b1 {
    background-color:rgb(185, 185, 255);
  
  }
 
.ar2, .ar3{display: inline-block;}


.figure { 
    height: 560px;
    width: 550px;}


input, textarea, .btn.orange {
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
  width: 300px;
  margin-left: 100px;
  align-items: center;  
}
.tx1{text-align: center;
  font-size: 32px;
  margin-left: 55px;


}
h1{text-align: center;
    font-size: 42px;
    margin-left: 85px;
    margin-top:-50px;}


input[type="submit"] {
  width: auto;
}

textarea {
  height: 170px;
}

input:focus, textarea:focus {
  outline: 1px solid #777;
}

.input-control {
  position: relative;
}

.input-control label {
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
}

.input-control input:focus ~ label, .input-control textarea:focus ~ label {
  top: -25px;
  font-size: 12px;
  transition: ease .5s all;
  opacity: 1;
}
.btn.orange{
 width: 130px;
}
.ar2{
width: 50%;}
.ar3{
  height: 50%;
  align-items:center;
  
}