
.titulo{ text-align: center ;
    font-size: 24px;
    margin-top: 60px;

    }
.sub{text-align: center;
    font-size: 35px;
    margin-top: 10px;}

.sub1{text-align: center;
    font-size: 35px;
     margin-top: 50px;}

body{ background-color:rgb(185, 185, 255);}

img{align-items: center;
        height: 350px;
        width: 1335px;
      
    }
.paragrafo{ text-align:left;
    font-size:18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-block-end: 20px;
}


.link{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 65px;
}
.eu{
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
