
.titulo{ text-align: center ;
    font-size: 50px;
    margin-top: 60px;

    }
.sub{text-align: center;
    font-size: 42px;
    margin-top: 10px;}
.sub1{text-align: center;
    font-size: 35px;
     margin-top: 100px;}

body{ background-color:rgb(185, 185, 255);}
img{text-align: justify;
        height: 350px;
        width: 1335px;
      
    }
.paragrafo{ text-align:left;
    font-size:24px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 2;
    margin-block-end: 20px;
}


.link{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 65px;
}
.eu{
    
    height: 300px;
    width: 300px;
    border-radius: 50px;
    margin-left: 40%;
    margin-top: 50px;
}